<!DOCTYPE html>
<html>
<head>
<title>Hi! this is SOYOUNG's server! </title>
</head>
<body>

<p>HiHIHi nice to meet you this is soyoung's server! </p>
<h1><a href = "http://52.231.153.77:8080/list">See List</h1>

<h1><a href = "http://52.231.153.77:8080/enternew">Enter a new data</h1>

<h1><a href = "http://52.231.153.77:8080/upload">Upload a file</h1>

<h1><a href = "http://52.231.153.77:8080/getphotos">Get list of photos</h1>

<h1><a href = "http://52.231.153.77:8080/loadData">See Json type of data</h1>

</body>
</html>
